[submodule "libadore/external/xodr"]
	path = libadore/external/xodr
    url = git@github.com:dlr-ts/xodr
    ignore = untracked
    shallow = true
[submodule "libadore/external/csaps-cpp"]
	path = libadore/external/csaps-cpp
	url = git@github.com:dlr-ts/csaps-cpp
    ignore = untracked
    shallow = true
[submodule "libadore/external/dlib"]
	path = libadore/external/dlib
	url = git@github.com:davisking/dlib
    ignore = untracked
    shallow = true
[submodule "libadore/external/osqp"]
	path = libadore/external/osqp
	url = git@github.com:osqp/osqp
    ignore = untracked
    shallow = true
[submodule "libadore/external/qpOASES"]
	path = libadore/external/qpOASES
	url = git@github.com:coin-or/qpOASES
    ignore = untracked
    shallow = true
[submodule "cppcheck_docker"]
	path = cppcheck_docker
	url = git@github.com:DLR-TS/cppcheck_docker.git
	branch = master
    ignore = untracked
    shallow = true
[submodule "cpplint_docker"]
	path = cpplint_docker
	url = git@github.com:DLR-TS/cpplint_docker.git
	branch = master
    ignore = untracked
    shallow = true
[submodule "lizard_docker"]
	path = lizard_docker
	url = git@github.com:DLR-TS/lizard_docker.git
	branch = master
    ignore = untracked
    shallow = true
[submodule "make_gadgets"]
	path = make_gadgets
	url = git@github.com:DLR-TS/make_gadgets.git
	branch = master
    ignore = untracked
    shallow = true
[submodule "libadore/external/Catch2"]
	path = libadore/external/Catch2
	url = git@github.com:catchorg/Catch2
[submodule "ci_teststand"]
	path = ci_teststand
	url = git@github.com:DLR-TS/ci_teststand.git
